@charset "UTF-8";
@import "./common/var.css";

@component-namespace el {
  @b badge {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    /* min-width: 16px;
    min-height: 16px;
    border-radius: 50%;
    background: #DE3B24;
    text-align: center;
    z-index: 20;
    color: #fff;
    font-size: 12px; */

    @e content {
      background-color: var(--badge-fill);
      border-radius: var(--badge-radius);
      color: var(--color-white);
      display: inline-block;
      font-size: var(--badge-font-size);
      width: var(--badge-size);
      height: var(--badge-size);
      line-height: var(--badge-size);
      padding: 0;
      text-align: center;
      white-space: nowrap;
      border: 1px solid var(--color-white);

      @when fixed {
        position: absolute 0 calc(var(--badge-size) / 2 + 1) * *;
        transform: translateY(-50%) translateX(100%);

        @when dot {
          right: 5px;
         
        }
      }

      @when dot {
        width: 10px;
        height: 10px;
        background-color: #FF5722;
        border-radius: 50%;
        display: inline-block;
        
      }
    }
  }
}
