@charset "UTF-8";
@import "./common/var.css";
@import './mixins/button';

@component-namespace el {
  @b button {
    display: inline-block;
    height: 34px;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #3BBAF4 ;
    border: 1px solid #0AA9F1;
    color: #fff;
    font-size: 14px;
    font-family: "PingFang-SC-Regular";
    letter-spacing: 0.21px;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    @utils-user-select none;
    & + .el-button {
      margin-left: 10px;
    }
    
    @mixin button-size var(--button-padding-vertical), var(--button-padding-horizontal), var(--button-font-size), var(--button-border-radius);

    &:hover,
    &:focus {
      color: var(--color-white);
      border-color: @color;
      background-color: #0785DB;
    }
    
    &:active {
      color: shade(var(--color-primary), var(--button-active-shade-percent));
      border-color: @color;
      outline: none;
    }

    &::-moz-focus-inner {
      border: 0;
    }

    & [class*="el-icon-"] {
      & + span {
        margin-left: 5px;
      }
    }

    @when plain {
      &:hover,
      &:focus {
        background: var(--color-white);
        border-color: var(--color-primary);
        color: var(--color-primary);
      }
      
      &:active {
        background: var(--color-white);
        border-color: shade(var(--color-primary), var(--button-active-shade-percent));
        color: shade(var(--color-primary), var(--button-active-shade-percent));
        outline: none;
      }
    }

    @when active {
      color: shade(var(--color-primary), var(--button-active-shade-percent));
      border-color: @color;
    }

    @when disabled {
      &,
      &:hover,
      &:focus {
        color: var(--button-disabled-color);
        cursor: not-allowed;
        background-image: none;
        background-color: var(--button-disabled-fill);
        border-color: var(--button-disabled-border);
      }

      &.el-button--text {
        background-color: transparent;
      }

      &.is-plain {
        &,
        &:hover,
        &:focus {
          background-color: var(--color-white);
          border-color: var(--color-base-gray);
          color: var(--color-extra-light-silver);
        }
      }
    }

    @when loading {
      position: relative;
      pointer-events: none;

      &:before {
        pointer-events: none;
        content: '';
        position: absolute;
        left: -1px;
        top: -1px;
        right: -1px;
        bottom: -1px;
        border-radius: inherit;
        background-color: rgba(255,255,255,.35);
      }
    }

    @m default {
      min-width: 200px;
      height: 30px;
      background: #3BBAF4;
      border: 1px solid #0AA9F1;
      padding: 4px 10px;
      letter-spacing: 0.24px;
      font-size: 16px;
      font-family: "PingFang-SC-Semibold";
      color: #fff;
      /*line-height: 22px;*/
      &:hover {
        background:#0AA9F1;
        border: 1px solid #0997D8;
      }
      @when disabled {
        &,
        &:hover,
        &:focus{
          color: #fff;
          background: #D2D9E3;
          border: 1px solid #B5C1D4;
        }     
      }
    }

    @m plain {
        /*height: 30px;*/
        background: #fff;
        border-color: #0AA9F1;
        color: #0AA9F1;
        /*padding: 4px 10px;*/
        /*letter-spacing: 0.24px;*/
        /*font-size: 16px;*/

        &:active,
        &:focus,
        &:hover {
             background-color: #fff;
             border-color: #0997D8;
             color: #0997D8;
         }
    }
    @m primary {
      @mixin button-variant var(--button-primary-color), var(--button-primary-fill), var(--button-primary-border);
    &:hover {
      background-color: #0AA9F1;
      border-color: #0997D8;
      }  
    }
    @m success {
      @mixin button-variant var(--button-success-color), var(--button-success-fill), var(--button-success-border);
      &:hover {
        background: rgba(125,206,35,0.8);
      }
    }
    @m warning {
      @mixin button-variant var(--button-warning-color), var(--button-warning-fill), var(--button-warning-border);
      &:hover {
        background: rgba(241,174,64,0.8);
      }
    }
    @m danger {
      @mixin button-variant var(--button-danger-color), var(--button-danger-fill), var(--button-danger-border);
      &:hover {
        background: rgba(247,113,129,0.8);
      }
    }
    @m info {
      @mixin button-variant var(--button-info-color), var(--button-info-fill), var(--button-info-border);
    }
    @m large {
      line-height: 3px;
      @mixin button-size var(--button-large-padding-vertical), var(--button-large-padding-horizontal), var(--button-large-font-size), var(--button-border-radius);
    }
    @m small {
      height: 30px;
      @mixin button-size var(--button-small-padding-vertical), var(--button-small-padding-horizontal), var(--button-small-font-size), var(--button-border-radius);
    }
    @m mini {
      height: 26px;
      @mixin button-size var(--button-mini-padding-vertical), var(--button-mini-padding-horizontal), var(--button-mini-font-size), var(--button-border-radius);
    }
    @m text {
      border: none;
      color: #0AA9F1;
      font-size: 14px;
      line-height: 20px;
      background: transparent;
      padding-left: 0;
      padding-right: 0;
      text-decoration: underline;

      &:hover,
      &:focus {
        background: transparent;
        color: #0997D8;
        /*color: tint(var(--color-primary), var(--button-hover-tint-percent));*/
      }
      &:active {
        background: transparent;
        color: #0997D8;
        /*color: shade(var(--color-primary), var(--button-active-shade-percent));*/
      }
    }
    @m card {
        height: 26px;
        border-radius: 90px;
        border-color: #0AA9F1;
        background: #fff;
        line-height: 20px;
        font-size: 14px;
        letter-spacing: 0px;
        color: #0AA9F1;
        padding: 3px 30px;


        &:hover,
        &:focus,
        &:active {
            background-color: #fff;
            border-color: #0997D8;
            color: #0997D8;
         }

      @when disabled {
        &,
        &:hover,
        &:focus {
          border-color: #B5C1D4;
          background-color: #fff;
          color: #B5C1D4;
        }
        
      }
    }
  }

  @b button-group {
    @utils-clearfix;
    display: inline-block;
    vertical-align: middle;

    & .el-button {
        padding:7px 16px;
      float: left;
      position: relative;
      & + .el-button {
        margin-left: 0;
      }
      & .el-icon--left {
        margin-right: 5px;
      }
      & .el-icon--right {
        margin-left: 5px;
      }
      &:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      &:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
      &:not(:first-child):not(:last-child) {
        border-radius: 0;
      }
      &:not(:last-child) {
        margin-right: -1px;
      }

      &:hover,
      &:focus,
      &:active {
        z-index: 1;
      }

      @when active {
        z-index: 1;
      }
    }

    @each $type in (primary, success, warning, danger, info) {
      .el-button--$type {
        &:first-child {
          border-right-width: 0.5px;
          border-right-color: rgba(var(--color-white), 0.6);
        }
        &:last-child {
          border-left-width: 0.5px;
          border-left-color: rgba(var(--color-white), 0.6);
        }
        &:not(:first-child):not(:last-child) {
          border-left-color: rgba(var(--color-white), 0.6);
          border-right-color: rgba(var(--color-white), 0.6);
        }
      }
    }
  }
}
