@charset "UTF-8";
@import "./common/var.css";

@component-namespace el {
  @b card {
    position: relative;
    background: #FFFFFF;
    z-index: 5;
    cursor: pointer;

    /*border: 1px solid var(--card-border-color);*/
    /*border-radius: var(--card-border-radius);*/
    /*background-color: var(--color-white);*/
    /*overflow: hidden;*/
    /*box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .12),*/
                /*0px 0px 6px 0px rgba(0, 0, 0, .04);*/
    &:hover {
      border: 1px solid rgba(56, 156, 226, 0.60);
      box-shadow: 0 0 4px 0 rgba(7, 133, 219, 0.60);
    }

    @e header {
      padding: calc(var(--card-padding) - 2) var(--card-padding);
      border-bottom: 1px solid var(--card-border-color);
      box-sizing: border-box;
    }

    @e body {
      padding: var(--card-padding);
    }

    /*新增type：recommend、comp*/
    @m recommend {
      width: 458px;
      height: 330px;
      /*background: #FFFFFF;*/
      border: 1px solid #E5E5E5;
      border-radius: 2px;
      /*cursor: pointer;*/
      /*position: relative;*/
      top: 0;
      overflow: hidden;
    
      &:hover {
        box-shadow: 0 4px 4px #cdcdcd;
        top: -2px;
      }
    }

    @m comp {
      /*position: relative;*/
      width: 173px;
      height: 145px;
      /*background: #FFFFFF;*/
      padding: 20px;
      border: 1px solid #D7D7D7;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.10);
      border-radius: 2px;
      /*z-index: 5;*/
      /*cursor: pointer;*/
      margin: 10px 10px;
    }
  }
}
