@charset "UTF-8";
@import "./common/var.css";

@component-namespace el {
  @b form {
    @m label-left {
      & .el-form-item__label {
        text-align: left;
      }
    }
    @m label-top {
      & .el-form-item__label {
        float: none;
        display: inline-block;
        text-align: left;
        padding: 0 0 10px 0;
      }
    }
    @m inline {
      & .el-form-item {
        display: inline-block;
        margin-right: 10px;
        vertical-align: top;
      }
      & .el-form-item__label {
        float: none;
        display: inline-block;
      }
      & .el-form-item__content {
        display: inline-block;
        vertical-align: top;
      }
      &.el-form--label-top .el-form-item__content {
        display: block;
      }
    }
  }
  @b form-item {
    margin-bottom: 25px;
    @utils-clearfix;

    & .el-form-item {
      margin-bottom: 0;
    }


    @e label {
      position: relative;
      text-align: left;
      vertical-align: middle;
      float: left;
      font-size: 14px;
      color: #606060;
      line-height: 1;
      padding: 9px 0px 9px 0;
      box-sizing: border-box;
    }
    @e content {
      width: 300px;
      height: 32px;
      line-height: 32px;
      position: relative;
      font-size: 14px;
      @utils-clearfix;

    }
    @e error {
      color: #D55363;
      font-size: 12px;
      line-height: 1;
      padding-top: 4px;
      /* position: relative; */
      position: absolute;
      
      margin-left: 15px;
      letter-spacing: 0.18px;
    }
    @e tip {
      color: #909090;
      font-size: 12px;
      line-height: 1;
      padding-top: 4px;
      /* position: relative; */
      position: absolute;
      
      margin-left: 15px;
      letter-spacing: 0.18px;
    }
    @e icon {
      position: absolute;
      left: -15px;
      width: 12px;
      height: 12px;
    }

    @when required {
      .el-form-item__label:before {
        content: '*';
        color: var(--color-danger);
        margin-right: 4px;
        position: absolute;
        left: -8px;
      }
    }

    @when error {
      & .el-input__inner,
      & .el-textarea__inner {
        border: 1px solid #D55363;
      }
      & .el-input-group__append,
      & .el-input-group__prepend, {
        & .el-input__inner {
          border-color: transparent;
        }
      }
    }
  }
}
