@charset "UTF-8";
@import "./common/var.css";
@import "./common/popup.css";
@import "./button.css";
@import "./input.css";

@component-namespace el {

  @b message-box {
    display: inline-block;
    transform: translate(-50%, 0%);
    min-width: 400px;
    min-height: 130px;
    width: 400px;
    height: auto;
    position: fixed;
    top: 60px;
    left: 50%;
    z-index: 60;
    background: #FFFFFF;
    border: 1px solid #D2D9E3;
    box-shadow: 0 2px 4px 0 #B5C1D4;
    border-radius: 2px;
    padding: 80px 100px 60px;

    text-align: left;
   
    vertical-align: middle;
    font-size: var(--msgbox-font-size);
    overflow: hidden;
    backface-visibility: hidden;
    @e wrapper {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 0;
        vertical-align: middle;
      }
    }



    @e headerbtn {
      position: absolute;
      top: 19px;
      right: 20px;
      background: transparent;
      border: none;
      outline: none;
      padding: 0;
      cursor: pointer;

      .el-message-box__close {
        color: #999;
      }
      
      &:focus, &:hover {
        .el-message-box__close {
          color: var(--color-primary);
        }
      }

    }

    @e content {
      width: 400px;
      padding: 0;
      color: #606060;
      font-size: 14px;
      letter-spacing: 0.21px;
      position: relative; 
      margin-bottom: 60px;
    }

    @e input {
      padding-top: 15px;
      & input.invalid {
        border-color: var(--color-danger);
        &:focus {
          border-color: var(--color-danger);
        }
      }
    }

    @e errormsg {
      color: var(--color-danger);
      font-size: var(--msgbox-error-font-size);
      min-height: 18px;
      margin-top: 2px;
    }

    @e title {
      padding-left: 0;
      margin-bottom: 0;
      font-size: var(--msgbox-font-size);
      font-weight: bold;
      height: 18px;
      color: #333;
    }

    @e message {
      position: relative;
      width: 400px;
      margin: 0;
      text-align: justify;
      vertical-align: middle;

      & p {
        margin: 0;
        line-height: 1.4;
      }
    }
    .w200 {
      width: 200px;
    }
    @e btns {
      
      text-align: center;
      & button {
        width: 140px;
        height: 32px;
      }

      & button:nth-child(2) {
        margin-left: 20px;
      }

    }

    @e btns-reverse {
      flex-direction: row-reverse;
    }

    @e status {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 36px !important;

      &.el-icon-circle-check {
        color: var(--msgbox-success-color);
      }

      &.el-icon-information {
        color: var(--msgbox-info-color);
      }

      &.el-icon-warning {
        color: var(--msgbox-warning-color);
      }

      &.el-icon-circle-cross {
        color: var(--msgbox-danger-color);
      }
    }
  }
}

.msgbox-fade-enter-active {
  animation: msgbox-fade-in .3s;
}

.msgbox-fade-leave-active {
  animation: msgbox-fade-out .3s;
}

@keyframes msgbox-fade-in {
  0% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes msgbox-fade-out {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
}
