@charset "UTF-8";
@import "./common/var.css";

@component-namespace el {

  @b select-dropdown {
    @e item {
      height: 36px;
      font-size: 14px;
      padding: 11px 10px;
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #606060;
      height: var(--select-option-height);
      line-height: 1.5;
      text-align: left;
      box-sizing: border-box;
      cursor: pointer;
      box-shadow: inset 1px 0 0 0 #D3DCE6, inset -1px 0 0 0 #D3DCE6;

      @when disabled {
        &,
        &:hover,
        &:hover span {
          color: var(--select-option-disabled-color);
          cursor: not-allowed;
          background-color: var(--color-white);
        }
        

      }

      &.hover, &:hover {
        color: #606060;
        background-color: #ECEFF5;
      }

      &.selected {
        color: var(--color-white);
        background-color: #0AA9F1;

        &.hover {
          color: #fff;
          background-color: #0997D8;
        }
      }

      & span {
        line-height: 1.5 !important;
      }
    }
  }
}
