@charset "UTF-8";
@import "./common/var.css";

@component-namespace el {
  @b progress {
    position: relative;
    line-height: 1;

    @e text {
     /* font-size:14px;
      color:var(--color-extra-light-black);
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
      line-height: 1;*/

      position: absolute;
      width: 44px;
      height: 18px;
      padding: 0 5px;
      line-height: 18px;
      text-align: center;
      left: 50%;
      margin-left: -22px;
      background: #FFFFFF;
      border: 1px solid #D7D7D7;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.10);
      border-radius: 2px;
      top: -30px;
      color: #0785DB;
      z-index: 5;

      &:after {
        content: '';
        display: inline-block;
        background: url(https://dashboard.lightyy.com/icon.png?9bc13255721bf19a38bf178a395e1c1e) no-repeat;
        background-position: 0 -222px;
        width: 13px;
        height: 13px;
        position: absolute;
        top: 18px;
        left: 50%;
        margin-left: -7px;
        z-index: 10;
        color: #0785DB;
      }

      i {
        vertical-align: middle;
        display: block;
      }
    }
    @m circle {
      display: inline-block;

      .el-progress__text {
        border: none;
        box-shadow: none;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30%;
        text-align: center;
        margin: 0;
        transform: translate(-50%, -50%);

        &:after {
          display: none;
        }
        
        i {
          vertical-align: middle;
          display: inline-block;
        }
      }
    }
    @m without-text {
      .el-progress__text {
        display: none;
      }
      .el-progress-bar {
        padding-right: 0;
        margin-right: 0;
        display: block;
      }
    }
    @m text-inside {
      .el-progress-bar {
        padding-right: 0;
        margin-right: 0;
      }
    }
    @when success {
      .el-progress-bar__inner {
        background-color: var(--color-success);
      }
      .el-progress__text {
        color: var(--color-success);
      }
    }
    @when exception {
      .el-progress-bar__inner {
        background-color: var(--color-danger);
      }
      .el-progress__text {
        color: var(--color-danger);
      }
    }
  }
  @b progress-bar {
    padding-right: 0px;
    /*padding-right: 50px;*/
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin-right: -55px;
    box-sizing: border-box;

    @e outer {
      background: #F9F9F9;
      border-radius: 0px;
      height: 10px;
      overflow: hidden;
      position: relative;
      vertical-align: middle;
    }
    @e inner {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      /*border-radius: 2px 0 0 2px;*/
      border-radius: 0px;
      /*background-color: var(--color-primary);*/
      background: #399DE2;
      text-align: right;
      line-height: 1;

      @utils-vertical-center;
    }
    @e innerText {
      display: inline-block;
      vertical-align: middle;
      color: var(--color-white);
      font-size: 12px;
      margin: 0 5px;
    }
  }
}

@keyframes progress {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 32px 0;
  }
}
