@charset "UTF-8";
@import "./common/var.css";

@component-namespace el {
  @b progress {
    position: relative;
    line-height: 1;

    @e text {
      position: absolute;
      line-height: 17px;
      text-align: center;
      left: 50%;
      transform: translateX(-50%);
      top: 22px;
      color: #0AA9F1;
      font-size: 12px;
      letter-spacing: 0;
      z-index: 5;

      i {
        vertical-align: middle;
        display: block;
      }
    }
    @m circle {
      display: inline-block;

      .el-progress__text {
        border: none;
        box-shadow: none;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30%;
        text-align: center;
        margin: 0;
        transform: translate(-50%, -50%);

        &:after {
          display: none;
        }
        
        i {
          vertical-align: middle;
          display: inline-block;
        }
      }
    }
    @m without-text {
      .el-progress__text {
        display: none;
      }
      .el-progress-bar {
        padding-right: 0;
        margin-right: 0;
        display: block;
      }
    }
    @m text-inside {
      .el-progress-bar {
        padding-right: 0;
        margin-right: 0;
      }
    }
    @when success {
      .el-progress-bar__inner {
        background-color: var(--color-success);
      }
      .el-progress__text {
        color: var(--color-success);
      }
    }
    @when exception {
      .el-progress-bar__inner {
        background-color: var(--color-danger);
      }
      .el-progress__text {
        color: var(--color-danger);
      }
    }
  }
  @b progress-bar {
    padding-right: 0px;
    /*padding-right: 50px;*/
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin-right: -55px;
    box-sizing: border-box;

    @e outer {
      background: #F9F9F9;
      border: 1px solid #0AA9F1;
      border-radius: 31px;
      height: 12px;
      overflow: hidden;
      position: relative;
      vertical-align: middle;
    }
    @e inner {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      text-align: right;
      line-height: 1;
      background: #0AA9F1;
      border-radius: 5px 0 0 5px;   

      @utils-vertical-center;
    }
    @e innerText {
      display: inline-block;
      vertical-align: middle;
      color: var(--color-white);
      font-size: 12px;
      margin: 0 5px;
    }
  }
}

@keyframes progress {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 32px 0;
  }
}
