@charset "UTF-8";
@import "./common/var.css";

@component-namespace el {

  @b select-dropdown {
    position: absolute;
    z-index: 1001;
    border: 1px solid #D2D9E3;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 #B5C1D4;;
    box-sizing: border-box;
    margin: 2px 0;

    @when multiple {

      & .el-select-dropdown__item.selected {
        color: #fff;
        background-color: #0AA9F1;


        &.hover {
          color: #fff;
          background-color: #0997D8;
        }

        &::after {
          position: absolute;
          right: 10px;
          font-family: 'element-icons';
          content: "\E608";
          font-size: 11px;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
      }
    }

    .el-scrollbar.is-empty .el-select-dropdown__list{
      padding: 0;
    }
  }

  @b select-dropdown__empty {
    padding: var(--select-dropdown-empty-padding);
    margin: 0;
    text-align: center;
    color: var(--select-dropdown-empty-color);
    font-size: var(--select-font-size);
  }

  @b select-dropdown__wrap {
    max-height: var(--select-dropdown-max-height);
  }

  @b select-dropdown__list {
    list-style: none;
    padding: var(--select-dropdown-padding);
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    & .el-select-dropdown__item:hover span{
      color:#606060;
    }
    & .el-select-dropdown__item.hover.selected span{
      color:#fff;
    }
  }
}
