@charset "UTF-8";
@import "./common/var.css";

@component-namespace el {
  @b step {
    position: relative;
    vertical-align: top;

   /* &:first-child:before {
      background:#0785DB;
    }*/

    &:last-child .el-step__main {
      padding-right: 0;
    }
    
    @when horizontal {
      display: inline-block;
      &:first-child {
        margin-left: 87px;
        &:before {
          content:'';
          position: absolute;
          top: 10px;
          left: -87px;
          width: 87px;
          height: 2px;
          /*background: #d7d7d7;*/
          background: #0785DB;
          transition: all 0.15s ease;
        }
       /* @when finish &:before {
          background: #0785DB;
        }*/
      }
      &:last-child .el-step__line{
        width: 87px;
      }
    }

    @when vertical {
      & .el-step__head,
      & .el-step__main {
        display: inline-block;
      }

      & .el-step__main {
        padding-left: 10px;
      }
    }

    @e line {
      display: inline-block;
      position: absolute;
      border-color: inherit;
      background-color: #d7d7d7;

      @when icon {
        @when horizontal {
          right: 4px;
        }
      }

      @when horizontal {
        top: 10px;
        height: 2px;
        left: 20px;
        right: 0;
      }

      @when vertical {
        width: 2px;
        box-sizing: border-box;
        top: 32px;
        bottom: 0;
        left: 15px;
      }
    }

    @e line-inner {
      display: block;
      border-width: 1px;
      border-style: solid;
      border-color: inherit;
      transition: all 150ms;
      box-sizing: border-box;
      width: 0;
      height: 0;
    }

    @e icon {
      display: block;
      line-height: 28px;

      > * {
        display:none;
        line-height: inherit;
        vertical-align: middle;
      }
    }

    @e head {
      circle: 14px transparent;
      text-align: center;
      line-height: 14px;
      font-size: 14px;
      vertical-align: top;
      /*transition: all 150ms;*/
      transition-delay: 170ms;
      border: 5px solid #0785DB;

      @when text {
        font-size: 14px;
        border-width: 3px;
        border-style: solid;

        @when process {
          color: var(--color-white);
          background: #fff;
          border-color: #d7d7d7;
        }

        @when wait {
          color: var(--color-extra-light-silver);
          /*background-color: #d7d7d7;
          border-color: var(--color-extra-light-silver);*/
          background: #fff;
          border-color: #d7d7d7;
        }

        @when success {
          color: var(--color-white);
          background-color: var(--color-success);
          border-color: var(--color-success);
        }

        @when error {
          color: var(--color-white);
          background-color: var(--color-danger);
          border-color: var(--color-danger);
        }

        @when finish {
          color: #fff;
          background: #fff;
          border-color: #0785DB;
        }
      }

      @when process {
        color: var(--color-extra-light-silver);
        /*border-color: var(--color-extra-light-silver);*/
        background: #fff;
        border-color: #d7d7d7;
      }

      @when wait {
        /*color: var(--color-extra-light-silver);
        border-color: var(--color-extra-light-silver);*/
        background: #fff;
        border-color: #d7d7d7;
      }

      @when success {
        color: var(--color-success);
        border-color: var(--color-success);
      }

      @when error {
        color: var(--color-danger);
        border-color: var(--color-danger);
      }

      @when finish {
        color: #fff;
        background: #fff;
        border-color: #0785DB;

        & .el-step__line .el-step__line-inner{
          background:#0785DB;
        }
      }
    }

    @e main {
      white-space: normal;
      padding-right: 10px;
      text-align: left;
      position: relative;

      &:after{
        content: '';
        display: inline-block;
        background: url(https://dashboard.lightyy.com/icon.png?9bc13255721bf19a38bf178a395e1c1e) no-repeat;
        background-position: 0 -222px;
        width: 13px;
        height: 13px;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(20%, -270%);
        z-index: 10;
      }
    }

    @e title {
      font-size: 14px;
      line-height: 32px;
      display: inline-block;
      transform: translate(-38%, -135%);
      position: absolute;
      left: 0;
      background: #FFFFFF;
      border: 1px solid #D7D7D7;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.10);
      border-radius: 2px;
      padding: 10px 15px;
      top: -15px;
      z-index: 5;

      @when process {
        color: #7A7A7A;
        font-weight: normal;
      }

      @when wait {
        color: #7A7A7A;
        font-weight: normal;
      }

      @when success {
        color: #7A7A7A;
        font-weight: normal;
      }

      @when error {
        font-weight: 700;
        color: var(--color-danger);
      }

      @when finish {
        font-weight: normal;
        color: var(--color-primary);
      }
    }

    @e description {
      font-size: 12px;
      font-weight: normal;
      line-height: 14px;

      @when process {
        color: var(--color-base-silver);
      }

      @when wait {
        color: var(--color-extra-light-silver);
      }

      @when success {
        color: var(--color-success);
      }

      @when error {
        color: var(--color-danger);
      }

      @when finish {
        color: var(--color-primary);
      }
    }
  }
}
