@charset "UTF-8";
@import "./common/var.css";

@component-namespace el {

  @b switch {
    display: inline-block;
    position: relative;
    font-size: var(--switch-font-size);
    line-height: 22px;
    width: 46px;
    height: 22px;
    vertical-align: middle;
    @when disabled {
      & .el-switch__core,
      & .el-switch__label {
        cursor: not-allowed;
      }
    }

    @e label {
      transition: .2s;
      position: absolute;
      size: 46px 22px;
      left: 0;
      top: 0;
      display: inline-block;
      font-size: var(--switch-font-size);
      cursor: pointer;
      @m left {
        i {
          left: 6px;
        }
      }
      @m right {
        i {
          right: 6px;
        }
      }
      & * {
        /*line-height: 6px;*/
        /*top: 9px;*/
        line-height: 22px;

        position: absolute;
        font-size: var(--switch-font-size);
        display: inline-block;
        color: var(--color-white);
      }
    }

    @e input {
      display: none;
    }

    @e core {
      margin: 0;
      display: inline-block;
      position: relative;
      size: 46px 22px;
      outline: none;
      border-radius: 22px;
      box-sizing: border-box;
      background: #B5C1D4;
      cursor: pointer;
      transition: border-color .3s, background-color .3s;

      & .el-switch__button {
        position: absolute -1px * * -1px;
        border-radius: 10px;
        transition: transform .3s;
        size: 20px;
        background-color: #fff;
        // border: 1px solid #d7d7d7;
        // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
      }
    }

    @when checked {
      .el-switch__core {
        // border: 1px solid #dfdfdf;
        border-radius: 22px;
        background-color: #0AA9F1;
      }
    }

    @when disabled {
      .el-switch__core {
        background: #ECEFF5 !important; 
        border: none;
        // border-color: var(--switch-disabled-color) !important;
        // background: var(--switch-disabled-color) !important;

        & span {
          background-color: var(--switch-disabled-text-color) !important;
        }

        & ~ .el-switch__label * {
          color: var(--switch-disabled-text-color) !important;
        }
      }
    }

    @modifier wide {
      .el-switch__label {
        &.el-switch__label--left {
          span {
            left: 10px;
          }
        }
        &.el-switch__label--right {
          span {
            right: 10px;
          }
        }
      }
    }

    & .label-fade-enter,
    & .label-fade-leave-active {
      opacity: 0;
    }
  }
}
