@import "../common/var.css";
@import "../common/transition.css";

@component-namespace el {
  @b date-editor {
    position: relative;
    display: inline-block;
    &.pointer {
      .el-input__inner {
        cursor: pointer;
      }
    }
    &.el-input {
      width: 152px;
    }
    &.el-input.el-date-editor--datetime {
       width:190px;
     }
    &.el-input.el-date-editor--timerange {
       width:190px;
     }
    &.el-input .el-input__inner {
      border-radius: 2px;
    }
    @m daterange {
      &.el-input {
        width: 200px;
        height: 32px;
        line-height: 32px;
        & .el-input__inner {
          width:200px;
          height: 32px;
          line-height: 32px;
         }
      }

    }

    @m datetimerange {
      &.el-input {
        width: 350px;
      }
    }

    .el-picker-panel {
      position: absolute;
      min-width: 180px;
      box-sizing: border-box;
      box-shadow: 0 2px 6px #ccc;
      background: var(--color-white);
      z-index: 10;
      top: 41px;
    }
  }
}
